body {
    background: salmon;
}

.mainHeader {
    color: tomato;
}

.sectionHeader {
    color: #1460AA;
    font-size: 64px;
}

.diaryHeader {
    color: rgb(100, 13, 117);
}

p {
    color: darkblue;
}
